node_modules
**/node_modules
dist
**/dist
.next
**/.next
.git
**/*.log
logs
**/logs
!**/src/**/logs
coverage
**/coverage
.env
.env.local
**/.env
**/.env.local
**/.env*.local
uploads
**/uploads
*.md
!README.md
**/.DS_Store
